/* === GLOBAL STYLES === */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font: 2rem/2.4rem 'Source Sans Pro', sans-serif;
}
section:not(.hero) {
  padding: 100px 0;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.2rem;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: #010101;
}
p {
  color: #898989;
}
button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #010101;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
/* === ADDITIONAL STYLES === */
.social-media {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 2.2rem;
}
.social-media li {
  display: inline-block;
}
.social-media li + li {
  margin-left: 20px;
}
.btn {
  display: inline-block;
  width: 140px;
  height: 47px;
  border: 2px solid #000000;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 4.7rem;
  text-transform: uppercase;
}
.plus-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  color: #222222;
  background-color: #ffffff;
}
.plus-btn::before {
  content: '\f067';
  font-family: 'FontAwesome';
}
.tablet::before {
  content: '\f10a';
}
.lemon::before {
  content: '\f094';
}
.folder::before {
  content: '\f114';
}
.code::before {
  content: '\f121';
}
.envelope::before {
  content: '\f003';
}
.bookmark::before {
  content: '\f097';
}
.laptop::before {
  content: '\f109';
}
.desktop::before {
  content: '\f108';
}
/* === GRID SYSTEM STYLES === */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row::before,
.row::after {
  content: '';
  display: table;
  clear: both;
}
[class*="col-"] {
  float: left;
  width: 100%;
  /* Mobile First */
  min-height: 1px;
  padding: 0 15px;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
/* === PAGE HEADER STYLES === */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 60px auto 0;
  z-index: 999;
}
.page-header .page-nav {
  position: relative;
}
.page-header .page-nav:hover .menu {
  display: block;
}
.page-header .hamburger-btn {
  font-size: 2.2rem;
}
.page-header .hamburger-btn .close-icon {
  display: none;
}
.page-header .menu {
  display: none;
  position: absolute;
  padding: 20px 0 0;
  margin: 0;
  list-style-type: none;
}
.page-header .page-nav,
.page-header .social-media {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page-header .page-logo {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  text-align: center;
}
.page-header .social-media {
  text-align: right;
}
/* === HERO SECTION STYLES === */
.hero {
  text-align: center;
  background-color: #FCDB00;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  position: relative;
}
.hero-title,
.hero-lead {
  color: #222222;
}
.hero-title {
  margin: 0 0 33px;
}
.hero-lead {
  padding: 0 27.08333%;
  margin-bottom: 45px;
}
.hero .btn {
  width: 256px;
  height: 56px;
  font-size: 2.2rem;
  line-height: 5.6rem;
}
.hero .scroll-down {
  position: absolute;
  bottom: 55px;
  font-size: 3.2rem;
}
/* === FEATURES SECTION STYLES === */
.features-title,
.features-lead {
  text-align: center;
}
.features-title {
  margin-top: 0;
}
.features-lead {
  padding: 0 18.33333%;
  margin-bottom: 73px;
}
.features-item {
  padding-left: 115px;
  margin-bottom: 93px;
  position: relative;
}
.features-item:last-child {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .features-item:nth-child(n + 5) {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .features-item:nth-child(n + 4) {
    margin: 0;
  }
}
.features-item::before {
  position: absolute;
  top: 0;
  left: 65px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font: 5rem 'FontAwesome';
}
.features-item-title {
  margin-top: 0;
}
.features-item-lead {
  margin-bottom: 0;
}
/* === PRICING SECTION STYLES === */
.pricing {
  text-align: center;
}
.pricing-title {
  text-transform: capitalize;
}
.pricing-lead {
  padding: 0 18.33333%;
  margin-bottom: 95px;
}
.pricing-item {
  margin-bottom: 93px;
}
.pricing-item:last-child {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .pricing-item {
    margin: 0;
  }
}
.pricing-item::before {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font: 4.8rem 'FontAwesome';
  line-height: 100px;
  color: #010101;
  background-color: #ebebeb;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.pricing-item:hover::before {
  color: #ffffff;
  background-color: #010101;
}
.pricing-item-title {
  font-size: 2.4rem;
}
.pricing-item-lead {
  padding: 0 26.31579%;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.pricing-item-price {
  margin-bottom: 75px;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  text-transform: uppercase;
  color: #010101;
  position: relative;
}
.pricing-item-price::before,
.pricing-item-price::after {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.pricing-item-price::before {
  content: '';
  top: 100%;
  width: 50px;
  border-bottom: 2px solid;
}
.pricing-item-price::after {
  content: attr(data-price);
  top: calc(110%);
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: none;
  color: #898989;
}
/* === WORKS SECTION STYLES === */
.works {
  text-align: center;
}
.works img {
  width: 100%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.works .plus-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.works-lead {
  padding: 0 18.33333%;
  margin-bottom: 73px;
}
.works-img {
  background-color: #222222;
  position: relative;
}
.works-img:hover img {
  opacity: 0;
}
.works-img:hover .plus-btn {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}
.works-layer {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #ffffff;
}
.works-count::before,
.works-post-date::after {
  font-family: 'FontAwesome';
}
.works-count::before {
  content: '\f06e';
  margin-right: 5px;
}
.works-post-date::after {
  content: '\f017';
  margin-left: 5px;
}
.works-item {
  margin-bottom: 68px;
}
.works-item:last-child {
  margin: 0;
}
@media screen and (min-width: 576px) {
  .works-item:nth-child(n + 7) {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .works-item:nth-child(n + 5) {
    margin: 0;
  }
}
.works-item-title {
  margin-bottom: 0;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.works-item-lead {
  margin: 0;
  margin-top: 5px;
  font-size: 1.6rem;
  line-height: 2rem;
}
/* === TEAM SECTION STYLES === */
.team {
  text-align: center;
}
.team-lead {
  padding: 0 18.33333%;
  margin-bottom: 73px;
}
.team-item {
  margin-bottom: 93px;
}
.team-item:last-child {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .team-item:nth-child(n + 3) {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .team-item {
    margin: 0;
  }
}
.team-item-photo {
  border-radius: 50%;
}
.team .social-media {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.team .social-media li + li {
  margin-left: 10px;
}
/* ===  === */
/* ===  === */
/* ===  === */
/* === MEDIA QUERIES === */
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}
